<div class="bg-secondary  p-5 text-center text-white">
    <h4>Created by thcoding</h4>
    <h5>📞 010-7777-8888</h5>
    <button class="btn btn-outline-light">고객센터</button>
    <button class="btn btn-outline-light">오시는길</button>
</div>